body {
    background-color:dimgray;
}


#navbar{
    list-style-type:none;
    padding:0;
    margin:0;
}

li{
    float: left;
}


#osro_logo{
    padding:20px;
}

.homebar{
    padding:20px;
}


#osro_heading {
    color:bisque;
    margin: 40px;
    padding: 45px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border:solid;

    border-width:thin;
}

#navbar{
    border:solid;
}

#osro_desc{
    margin:auto;
    padding:20px;
    text-align:justify;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}